/* Start Global Rules */
:root
{
     --main-color: #E4AEC5;
    --main-color-alt: #FF85B3;
    --main-transtion:0.3s;
    --main-header:#F8F9FA;
    --main-color-black:black;
    --main-color: #E4AEC5;
    --main-color-alt: #FF85B3;
    --main-transtion:0.3s;
    --main-header:#F8F9FA;
    --main-color-black:black;
    --main-title:#22577E;
    --padding : 0px;
    --color-span:black;
    --color-pri: rgb(82, 188, 250);
    --color-pri-light: rgba(82, 188, 250, 0.445);
    --color-sec: rgb(172, 17, 233);
    --color-sec-light: rgba(172, 17, 233, 0.274);
}
html
{
    scroll-behavior: smooth;
}
*
{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body
{
    font-family: 'Cairo', sans-serif;
}
ul 
{
    list-style: none;
    padding: 0;
    margin: 0;
}
a
{
    text-decoration: none;
}
.container
{
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media(min-width:768px)
{
    .container
    {
        width: 750px;
    }
}
@media(min-width:992px)
{
    .container
    {
        width: 970px;
    }
}
@media(min-width:1200)
{
    .container
    {
        width: 1170px;
    }
}
.title
{
    position: relative;
    display: flex;
    align-items: center;
    justify-content:center;
    padding: 20px 60px;
    margin-top: 20px;
    overflow: hidden;
    transform: skew(-10deg);
    border: 2px solid var(--main-title);
    width: fit-content;
    margin: 100px auto;
}
.title:hover 
{
    background-color: var(--main-title);
    box-shadow: 0 0 10px var(--main-title) , 0 0 20px var(--main-title) , 0 0 40px var(--main-title);
}
.title::before
{
    content: "";
    position: absolute;
    width: 40px;
    height: 400%;
    background-color: #00ccff;
    animation: title 3s infinite linear;
    transition: 1s;
}
@keyframes title {
    0%
    {
        transform: rotate(0deg);
    }
    100% 
    {
        transform: rotate(360deg);
    }
}
.title::after
{
    content: "";
    position: absolute;
    background-color:var(--main-title) ;
    inset: 4px;
}
.title h2 
{
    z-index: 1;
    color: white;
}
@media(max-width:768px)
{
    .title h2 
    {
        font-size: 14px;
    }
}
.paragraph
{
    text-align: center;
    color: black;
    font-size: 20px;
    line-height: 1.7;
    font-weight: bold;
    margin: 20px;
}
.text-item-title
{
    position: relative;
    border: 2px solid var(--main-title);
    padding: 20px 40px;
    font-size: 20px;
    z-index: 1;
    width: fit-content;
    color: black;
    margin: 40px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    font-weight: bold;
}
.text-item-title:hover
{
    color: white;
    border: 2px solid white;
    transition-delay: 0.5s;
}
.text-item-title::before,
.text-item-title::after
{
    content: "";
    height: 12px;
    width: 12px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--main-title);
}
.text-item-title::before
{
    left: -30px;
}
.text-item-title::after
{
    right: -30px;
}
.text-item-title:hover:before
{
    animation: left-move 0.5s linear forwards;
    z-index: -1;
}
.text-item-title:hover:after
{
    animation: right-move 0.5s linear forwards;
    z-index: -1;
}

@keyframes left-move
{
    50% 
    {
        left: 0;
        width: 12px;
        height: 12px;
    }
    100% 
    {
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}
@keyframes right-move
{
    50% 
    {
        right: 0;
        width: 12px;
        height: 12px;
    }
    100% 
    {
        right: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}
@media(max-width:768px)
{
    .text-item-title
    {
        font-size: 14px;
    }
}
.up-down button
{
    position: fixed;
    right: 20px;
    bottom: 20px;
    padding: 10px;
    background-color: var(--main-color);
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    display: none;
    transition: var(--main-transtion);
    z-index: 10000;
}
.color-span
{
    font-size: 20px;
    padding: 0 5px;
    color: var(--color-pri);
}
@media(max-width:991px)
{
    .color-span
    {
        font-size: 20px;
        padding: 0 5px;
        color: white
    }
}
/* End Global Rules */
/* --------------- Start Header ---------------  */
.header
{
    background-color: #FFFFFF;
    box-shadow: 0 0 10px var(--main-color), 0 0 20px var(--main-color);
    position:relative;
    direction: rtl;
}
.header .container
{
    display: flex;
    justify-content: space-between;
    width: 95%;
    position: relative;
}
.header .logo
{
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header .logo > img 
{
    max-width: 100%;
    width: 40px;
    margin-left: 10px;
}
.header .main
{
    display: flex;
    justify-content: flex-end;

}
.header .main .toggle-menu,
.header .main .fa-x
{
    display: none;
}

.header .main .main-nav 
{
    display: flex;
    flex-direction: row-reverse;
}
.header .main .main-nav li a
{
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    text-align: right;
    color:var(--main-color-black);
    padding: 0 10px;
    font-weight: bold;
    position: relative;
}
.header .main .main-nav li:hover 
{
    
    background-color: #fafafa;
}
.header .main .main-nav li:hover a
{
    color: var(--main-color-alt);
}
.header .main .main-nav li a::before
{
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 0%;
    height: 3px;
    background-color: var(--main-color-alt);
    transition: var(--main-transtion);
}
.header .main .main-nav li:hover a::before
{
    width: 100%;
}
.header .main .main-nav li a i 
{
    display: none;
}
.header .main .search
{
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.header .main .search::before
{
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 2px;
    height:50%;
    background-color: var(--main-color-black);
}

.header .main .search 
{
    display: flex;
}
.header .main .search i {
    padding: 10px;
    font-size: 20px;
    color: var(--main-color-black);
}
.header .main .search .input-search
{
    position: absolute;
    top: calc(100% + 100px);
    width: 100%;
    height: 100%;
    background-color: red;
    z-index: 1000;
}
.header .input-search
{
    position: absolute;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    background-color: #FFEEEE;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    gap: 40px;
    opacity: 0;
}
.header .input-search h2
{
    font-size: 40px;
    color: black;
    letter-spacing: 20px;
}
.header  .input-search input
{
    padding: 20px 60px;
    border-radius: 20px;
    background-color: transparent;
    border: 1px solid var(--main-color-alt);
}
.header .input-search button
{
    padding: 20px 60px;
    border-radius: 20px;
    border: none;
    background-color: #B4ECE3;
    font-size: 20px;
    
}
.header .input-search button:hover
{
    box-shadow: 0 0 10px #B4ECE3,
    0 0 20px #B4ECE3,
    0 0 40px #B4ECE3;
}
/* --------------- Start Media Header ---------------  */
@media(max-width:991px)
{
    .header .main
    {
        flex: 1;
        display: flex;
    }
    .header .container
    {
        width: 100%;
    }
    .header .main .main-nav 
    {
        position: absolute;
        left: 0;
        top: 200px;
        width: 100%;
        z-index: 30000000;
        background-color: #bb8282;
        flex-direction: column-reverse;
        opacity: 0;
        transition: var(--main-transtion);
        visibility: hidden;
        display: none;
    }
    .header .main .main-nav.open
    {
        top: 74px;
        opacity: 1;
        visibility: visible;
        display: flex;

    }
    .header .main .toggle-menu,
    .header .main .fa-x
    {
        display: block;
        height: 72px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 25px;
        padding: 0 20px;
        cursor: pointer;
    }
    .header .main .main-nav li 
    {
        display: flex;
        padding-left: 50px;
        transition: 0.5s;
        border: 1px solid var(--main-color-alt);
    }
    .header .main .main-nav li:hover
    {
        margin-left: -20px;
    }
    .header .main .main-nav li a
    {
        /* color: white; */
        font-weight: bold;
        font-size: 18px;
    }
    .header .main .main-nav li:hover a::before
    {
        width: 0;
    }
    .header .main .main-nav li a i
    {
        display: flex;
        color: #D49B54;
        font-size: 20px;
        width: 40px;
        height: 40px;
        justify-content: center;
        align-items: center;
    }
}
@media(min-width:991px)
{
    .header .main ul
    {
        display: flex;
    }    
}
/* --------------- End Media Header ---------------  */

/* --------------- End Header ---------------  */
/* --------------- End Landing ---------------  */
.Landing
{
    position: relative;
    overflow: hidden;
}
.Landing .container
{
    height: calc(100vh - 72px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    animation: center 3s forwards;
    transition: animation 2s;
    opacity: 0;
    
}
.Landing .container .image
{
    flex-basis: 60%;
    animation: image 3s forwards;
    transition: animation 2s;
    animation-delay: 2s;
    opacity: 0;
}
@keyframes image 
{
    0%
    {
        transform: scale(0.75);
        opacity: 0;
    }
    100%
    {
        transform: scale(1);
        opacity: 1;
    }
}
.Landing .container .image img 
{
    max-width: 100%;
    animation: top 1s 4s forwards infinite;
    transition: animation 0.5s;
}
@keyframes top
{
    0%,100%
    {

    }
    50%
    {
        transform: translateY(-40px);
    }
}
.Landing .container h2 
{
    text-align: right;
    font-size: 30px;
    font-weight: bold;
    line-height: 1.7;
    text-align: center;
}
/* --------------- Start up-and-down ---------------  */

.Landing  i
{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 40px;
    color: var(--main-title);
    font-size: 30px;
    cursor: pointer;
    animation: up-and-down-icon 1s 3s infinite;
    z-index: 100000;
    opacity: 0;
}
.Landing  i:hover
{
    color: var(--main-color);
}
@keyframes up-and-down-icon
{
    0%,100%
    {
        bottom:40px;
        opacity: 1;
    }
    50% 
    {
        bottom:20px;
    }
}
/* --------------- Start animation ---------------  */
@keyframes center
{
    0%
    {
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@media(max-width:991px)
{
    .Landing  i
    {
        animation: up-and-down-icon 1s 1s infinite;
    }
    
}
/* --------------- End animation ---------------  */
/* --------------- Start Media Landing ---------------  */
@media(max-width:991px)
{
    .Landing
    {
        background: url(../img/background.png) center;
        background-size: cover;
    }
    .Landing .container .image
    {
        display: none;
    }
    .Landing .container h2
    {
        flex-basis: 100%;
        font-size: 30px;
        color: white;

    }
}
/* --------------- End Media Landing ---------------  */
/* --------------- Start  Credit hours ---------------  */
.credit
{
    direction: rtl;
    padding-top: var(--padding);
    padding-bottom: var(--padding);
    display: none;
}

@media(max-width:765px)
{
    .credit .about .title h2 
    {
        font-size: 16px;
    }
}
.credit .about p
{
    text-align: center;
    line-height: 1.7;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 0;
    border: 1px solid var(--main-color);
}
h3
{
    text-align: center;
    margin: 50px 0;
}
.importain
{
    position: relative;
    margin-top: 50px;
    z-index: 1;
}

.importain::before
{
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 117%;
    width: 3px;
    background-color: var(--color-sec-light);
    z-index: -1;
}
.clear
{
    clear: both;
}
.importain .left 
{
    float: left;
    width: 45%;
    padding: 20px;
    position: relative;
    line-height: 1.7;
    border: 1px solid var(--color-pri);
    margin: 50px 0;
    z-index: 1000;
}
.importain .right 
{
    float: right;
    width: 45%;
    padding: 20px;
    position: relative;
    line-height: 1.7;
    border: 1px  solid var(--main-color-alt);
}
.importain .left::before
{
    content: attr(data-title);
    position: absolute;
    left: calc(105% + 26px);
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: var(--color-pri);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.importain .right::before
{
    content: attr(data-title);
    position: absolute;
    right: calc(105% + -4px);
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: var(--main-color-alt);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.credit .note
{
    margin-right: 20px;
}
.credit .note p 
{
    text-align: center;
    line-height: 1.7;
    font-size: 18px;
    font-weight: bold;
    border: 2px solid var(--main-color);
    padding: 10px;
}
.credit .note ul 
{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.credit .note ul li
{
    font-size: 18px;
}
.credit .note ul li ul li
{
    position: relative;
    list-style: none;
    border: 1px solid  var(--main-title);
    background-color: var(--main-color);
    padding: 10px;
    margin-bottom: 20px;
    counter-increment: services;
}
.credit .note ul li ul li::before
{
    content: counter(services);
    position: absolute;
    top: 50%;
    right: -45px;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background-color: burlywood;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
}
.credit .note ul li ul
{
    list-style: upper-roman;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-right: 70px;
    margin-top: 40px;
}
.credit table
{
    padding-top: 30px;
    width: 100%;
    text-align: center;
    font-size: 20px;
}
.credit table caption
{
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 50px;
}
.credit table thead tr th
{
    border: 1px solid var(--main-title);
    padding: 20px 0;
}
.credit table tr td
{
    border: 1px solid var(--main-color);
    padding: 10px 0;
    color: black;
}

.center
{
    position: relative;
    display: flex;
    justify-content: space-around;
}
.center::before
{
    content: "";
    position: absolute;
    left: 1;
    top: 0;
    width: 2px;
    height: 100%;
    background-color: var(--main-color);
}
@media(max-width:991px)
{
    .importain
    {
        text-align: center;
    }
    .importain .left 
    {
        width: 100%;
        background-color: var(--color-pri);
    }
    .importain .right 
    {
        width: 100%;
        background-color: var(--main-color-alt);
    }
    .importain .left::before
    {
        left: 50%;
        top: -40px;
        transform: translateX(-50%);
    }
    .importain .right::before
    {
        right: 50%;
        top: -40px;
        transform: translateX(50%);
    }
}
@media(max-width:768px)
{
    .credit table
    {
        font-size: 10px;
        margin: auto;
    }
    .credit table caption
    {
        font-size: 20px;
    }
    .credit table thead tr th
    {
        padding: 5px 0;
    }
    .credit .info 
    {
        transform: skew(0);
    }
}
/* --------------- End Credit hours  ---------------  */

.Guidance
{
    z-index: 100;
    direction: rtl;
    overflow: hidden;
    display: none;
}
.Guidance .paragraph
{
    border: 2px solid var(--main-color);
    padding: 10px;
}
.Guidance .box 
{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 20px;
}
.Guidance .box .box-item 
{
    position: relative;
    border: 1px solid var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    text-align: center;
    z-index: 1;
    cursor: pointer;
}
.Guidance .box .box-item::before
{
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 0%;
    height: 100%;
    background-color: var(--main-color);
    z-index: -1;
    transition: var(--main-transtion);
}
.Guidance .box .box-item:hover:before
{
    width: 100%;
}
.Guidance .box .box-item i 
{
    color: var(--main-title);
}
.Guidance .box .box-item p
{
    font-size: 16px;
    line-height: 1.7;
}
.Guidance .box .box-item:hover p 
{
    color: white;
    transition-delay: 0.5s;
}
.Guidance .info
{
    direction: rtl;
    width: 100%;
}
.Guidance .info ul 
{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-right: 20px;

}
.Guidance .info ul li
{
    font-size: 18px;
    line-height: 1.7;
    position: relative;
    position: relative;
    list-style: none;
    border: 1px solid  var(--main-title);
    background-color: var(--main-color);
    margin-bottom: 20px;
    counter-increment: services;
    padding: 10px ;
}
.Guidance .info ul li::before
{
    content: counter(services);
    position: absolute;
    top: 50%;
    right: -45px;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background-color: burlywood;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
}
.Guidance .from button
{
    margin: 20px auto;
    display: block;
    padding: 10px 40px;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid var(--main-color);
}
.Guidance .from .from-item
{
    display: flex;
    gap: 20px;
    justify-content: center;
    transition: 0.5s;
    display: none;
}
@media(max-width:768px)
{
    .Guidance .from .from-item
    {
        flex-direction: column;
        text-align: center;
    }
}
.Guidance .from .from-item.open
{
    display: flex;
}
.Guidance .from .from-item  span 
{
    padding: 10px 20px;
    border: 1px solid var(--main-title);
    cursor: pointer;
    background-color: transparent;
    transition: 0.5s;
}
.Guidance .from .from-item  span:hover
{
    box-shadow: 0 0 10px var(--main-title),0 0 20px var(--main-title)
}
.overFlow
{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10000;
}
.team
{
    display: none;
}
.team.open
{
    display: block;
}
.overFlowBox
{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
    z-index: 10000;
    width: 600px;
    height: 600px;
}
.imgIndividually
{   
    max-width: 600px;
    height: 600px;
}
.control
{
    color: white;
    position: absolute;
    right:64px;
    top:-3%;
    font-size: 20px;
    background-color: var(--main-color-alt);
    padding: 20px;
    border-radius: 50%;
    cursor: pointer;
}
.icon-close
{
    position: absolute;
    color: white;
    position: absolute;
    right: 114px;
    top: -15px;
    font-size: 20px;
    background-color: var(--main-color-alt);
    padding: 20px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1000000;
}
.swiper {
  width: 600px;
  height: 300px;
  padding: 50px;
 
}
.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 800px;
  height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-slide img {
  display: block;
  max-width: 600px;
  height: 600px;
}
@media(max-width:768px)
{
    .control,
    .icon-close
    {
        right: 50%;
        transform: translateX(50%)
    }
    .swiper
    {
        width: 400px;
    }
    .swiper-slide img
    {
        width: 400px;
        height: 700px;
    }
    .icon-close
    {
        margin-top: -100px;
    }
   
}
/* --------------- Start Media Landing ---------------  */
/* --------------- Start Cumulative average ---------------  */
.average
{
    direction: rtl;
    display: none;
    font-weight: bold;
}
.average .title-label ul 
{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 20px;
}
.average .title-label ul li
{
    font-size: 16px;
    line-height: 1.7;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: white;
    box-shadow: 0 0 10px var(--main-title);
    transition: 0.5s;
    cursor: pointer;
    position: relative;
    gap: 20px;
}
.average .title-label ul li:hover
{
    transform: translateY(-20px);
}
.average .title-label ul li::before
{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 4px;
    width: 0;
    background-color: var(--main-title);
    transition: 0.5s;
}
.average .title-label ul li:hover:before
{
    width: 100%;
}
.ovalay
{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10000000000;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--main-title);
}
.ovalay.open 
{
    display: flex;
    
}
.icon-average
{
    color: white;
    font-size: 40px;
    padding: 10px 15px;
    cursor: pointer;
}
.icon-average:hover 
{
    color: var(--main-color-alt);
}
.ovalay h3
{
    color: white;
    text-align: center;
}
.ovalay p 
{
    font-size: 20px;
    padding: 0 100px;
    line-height: 1.7;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}
.ovalay p .text-title
{
    color: var(--main-color-alt);
    font-size: 20px;
    border: 1px solid var(--main-color);
    width: fit-content;
    margin: auto;
    padding: 10px;
    box-shadow: 0 0 10px white;
}

.mark
{
    width: 50%;
    text-align: center;
    margin: auto;
    background-color: var(--main-color-alt);
    height: 2px;

}
.average .note p
{
    margin-right: 20px;
    font-size: 18px;
    line-height: 1.7;
    text-align: center;
    margin: auto;
    
}
@media(max-width:991px)
{
    .ovalay h3
    {
        font-size: 14px;
        line-height: 1.7;
    }
    .ovalay p 
    {
        font-size: 14px;
    }
}
/* --------------- End Cumulative average ---------------  */
/* --------------- Start distribution table ---------------  */
.table 
{
    direction: rtl;
    padding-bottom: 100px;
    display: none;
    overflow: hidden;
}
.table .container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.table table caption
{
    font-size: 20px;
    font-weight: bold;
    padding:40px 0;
}
.table table thead  tr th
{
    border: 2px solid var(--main-title);
    padding: 20px 10px;
}
.table table tbody  tr td
{
    border: 1px solid var(--color-sec-light);
    padding: 10px 10px;
    text-align: center;
}
.table table tbody  tr  .two 
{
    position: relative;
    display: flex;
    justify-content: space-around;
    
}
.table table tbody  tr  .two::before
{
    content: '';
    position: absolute;
    left: 1;
    top: 0;
    height: 100%;
    width: 2px;
    background-color: var(--main-color);

}
@media(max-width:991px)
{
    .table table caption
    {
        font-size: 18px;
        padding:40px 0;
    }
    .table table thead  tr th
    {
        padding: 15px 5px;
        font-size: 12px;
    }
    .table table tbody  tr td
    {
        padding: 10px 0;
        text-align: center;
    }
    .table table tbody  tr  .two 
    {
        display: flex;
    }
}
@media(max-width:765px)
{
    .table table caption
    {
        font-size: 18px;
        padding:40px 0;
    }
    .table table thead  tr th
    {
        padding: 5px;
        font-size: 9px;
        font-weight: bold;
    }
    .table table tbody  tr td
    {
        padding: 5px 0;
        text-align: center;
        font-size: 12px;
    }
    .table table tbody  tr  .two
    {
        padding: 20px 0;
    }
    .table table tbody  tr  .two span
    {
        font-size: 12px;
    }
}
/* --------------- End distribution table ---------------  */
/* --------------- Start Student's grades calculator ---------------  */
.calculator
{
    direction: rtl;
    overflow: hidden;
    display: none;
}
.calculator .box
{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(400px,1fr));
    gap: 20px;
}
.calculator .box .box-item
{
    position: relative;
    border: 1px solid var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    text-align: center;
    z-index: 1;
    cursor: pointer;
    box-shadow: 0 0 10px #777;
}
.calculator .box .box-item::before
{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 0%;
    width: 3px;
    background-color: var(--main-title);
    transition: 0.5s;
}
.calculator .box .box-item:hover:before
{
    height:100%;
}
.calculator .box .box-item::after
{
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    height: 0%;
    width: 3px;
    background-color: var(--main-title);
    transition: 0.5s;
}
.calculator .box .box-item:hover:after
{
    height:100%;
}
.calculator .box .box-item i 
{
    color: var(--main-title);
}
.calculator .box .box-item p
{
    font-size: 16px;
    line-height: 1.7;
}
.calculator .box .box-item:hover p 
{
    transition-delay: 0.5s;
}
.calculator .tabel-from
{
    display: none;
    flex-direction: column;
}
.calculator .tabel-from.open
{
    display: flex;
}
.calculator table
{
    max-width: 100%;
    text-align: center;
    margin: 50px 0;
}
.calculator .caption-tabel
{
    font-size: 20px;
    font-weight: bold;
    border: 1px solid var(--main-title);
    width: fit-content;
    padding: 10px 20px;
    margin: 20px auto;
    cursor: pointer;
    transition: var(--main-transtion);
}
.calculator .caption-tabel:hover
{
    box-shadow: 0 0 10px var(--main-title),0 0 20px var(--main-title);
    background-color: var(--main-color);
    color: white;
    transition-delay: color 2s;
}
.calculator table tr td
{
    border: 1px solid var(--main-color);
    padding: 20px 10px;
}
.calculator table tr th
{
    border: 1px solid var(--main-color);
    padding: 10px;
    font-size: 16px;
    color: var(--main-title);
}
@media(max-width:768px)
{
    .calculator .title h2 
    {
        font-size: 16px;
    }
    .calculator .example button
    {
        
        margin: auto;
        display: block;
        padding: 15px 60px;
    }
    .calculator .example p
    {
        margin-right: 0;
    }
}
/* --------------- End Student's grades calculator ---------------  */

/* --------------- Start decisions  ---------------  */
.decisions
{
    direction: rtl;
    padding-bottom: 100px;
    display: none;
}
.decisions .container
{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(400px,1fr));
    gap: 20px;
}

.decisions .m1-first
{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.decisions .m1-first h1
{
    padding: 20px;
    width: fit-content;
    cursor: pointer;
}
.decisions .m1-first .box
{
    gap: 30px;
    display: flex;
}
.decisions .m1-first .box.open
{
    display: flex;
}
.decisions .m1-first .box ul 
{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.decisions .m1-first .box ul li 
{
    display: flex;
    justify-content: center;
    align-items: center;
    animation: anmition 1s forwards linear;
    width: 210px;
    padding: 10px 0;
    text-align: center;
}
@keyframes anmition 
{
    0%
    {
        margin-top: -100px;
    }
    100%
    {
        margin-top: 0
    }
}
@media(max-width:768px)
{
    .decisions .container
    {
        grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    }
    .decisions .m1-first .box ul li 
    {
        padding: 10px 0;
        height: 40px;
        font-size: 12px;
        width:100px;
    }
}



.color_first
{
    background-color: #F5DF99 !important;
    color: rgb(16, 10, 29) !important;
    font-weight: bold;
}
.color_two
{
    background-color: #A0D995 !important;
    color: rgb(16, 10, 29) !important;
    font-weight: bold;

}
.color_three
{
    background-color: #6CC4A1 !important;
    color: rgb(16, 10, 29) !important;
    font-weight: bold;

}
.color_four
{
    background-color: #4CACBC !important;
    color: rgb(16, 10, 29) !important;
    font-weight: bold;

}
.color_five
{
    background-color: #94B49F !important;
    color: rgb(16, 10, 29) !important;
    font-weight: bold;
}
.m1-first .color 
{
    background-color: var(--color);
}
.setting
{
    position: fixed;
    left: 0;
    top: 0;
    width: 0px;
    height: 100%;
    background-color: var(--main-title);
    transition: 0.5s;
    visibility: hidden;
    direction: rtl;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.setting.open 
{
    width: 200px;
    visibility:visible;
}
 .icon
{
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    background-color: white;
    padding: 10px;
    cursor: pointer;
    transition: 0.5s;
}
 .icon.open
{
    left: 200px;
}
.title-one
{
    width: 180px;
    margin: auto;
    padding: 20px;
    color: white;
}
.title-one h3
{
    margin: 0;
    padding: 0;
}

.setting .items 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.setting .items .box h5
{
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    text-align: center;
    margin: auto;
    background-color: var(--color);
}



/* --------------- End decisions ---------------  */

/* --------------- Start questions  ---------------  */
.questions
{
    direction: rtl;
    padding-bottom: 100px;
    display: none;
    padding-top: 50px;
}
.questions .container 
{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.questions .box
{
    border: 1px solid var(--main-color);
    padding: 10px;
    line-height: 1.7;
    position: relative;
    cursor: pointer;
}
.questions .box::before
{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0%;
    height: 100%;
    background-color: var(--color-sec-light);
    transition: var(--main-transtion);
}
.questions .box:hover:before
{
    width: 100%;
}
.questions .box .question
{
    font-size: 20px;
    font-weight: bold;
}
.questions .box .anser
{
    margin-right: 50px;
    font-size: 16px;
    color: var(--main-title);
}
.questions .box .anser ul  
{
    list-style: square;
    margin: 0;
    padding: 0;
    margin-right: 20px;
}
@media(max-width:768px)
{
    .questions .box .question
    {
        font-size: 16px;
    }
}

/* --------------- End questions ---------------  */
/* --------------- Start Help  ---------------  */
.help
{
    display: none;
}
/* --------------- End Help ---------------  */
/* --------------- End allTeam ---------------  */
.allTeam
 {
    background: rgb(2, 2, 26);
    position: relative;
    height: 100%;
    display: none;
    padding-bottom: 40px;
    overflow: hidden;
}
.allTeam::before
{
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 4px;
    height: 100%;
    background-color: white;
}
.allTeam::after
{
    content: "";
    position: fixed;
    top: 200px;
    left: 250px;
    height: 200px;
    background: rgb(183, 0, 255);
    filter: blur(140px);
}
.allTeam .left,
.allTeam .right 
{
    background-color: white;
    box-shadow: 0 0 10px white;
    margin-top: 100px;
    width: 43%;
    position: relative;
}

.allTeam .left::before,
.allTeam .right::before
{
    content: attr(data-title);
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    box-shadow: 0 0 10px var(--color-pri);
    font-size: 18px;
    font-weight: bold;
    
}
.allTeam .left::before
{
    left: calc(100% + 12.5%);
}
.allTeam .right::before
{
    right: calc(100% + 12.5%);
}
.allTeam .left
{
    position: relative;
    float: left;
}
.allTeam .right
{
    float: right;
}
.clear
{
    clear: both;
}
.allTeam .left .image,
.allTeam .right .image
{
    position: absolute;
    right: -17px;
    top: -50px;
    border-radius: 50%;
    background-color: white;
    padding: 10px;
}
.allTeam .left .image img,
.allTeam .right .image img 

{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.allTeam .left h3,
.allTeam .right h3 
{
    text-align: left;
    padding: 0 40px;
}
@media(max-width:991px)
{
    .allTeam .left,
    .allTeam .right 
    {
        width: 100%;
    }
    .allTeam .left::before,
    .allTeam .right::before

    {
        left: 50%;
        transform: translateX(-50%);
        top: -70px;
    }
}
/* --------------- End About ---------------  */